#homeicon{
  height :250px;
  border-radius: 50%;
  margin: 40px;
}

#skillicon{
  height :250px;
  width: 90%;
  border-radius: 50%;
  margin: 30px;
}


#qiitaIcon{
  height :250px;
  width: 90%;
  border-radius: 50%;
  margin: 30px;
}

#atcoderIcon{
  height :250px;
  width: 90%;
  border-radius: 50%;
  margin: 30px;
}

#aboutIcon{
  height :250px;
  width: 90%;
  border-radius: 50%;
  margin: 30px;
}
