.App{
  font-size: 18px;
  background-color: rgb(229, 225, 220);
  height:100%

}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 300px;
  z-index: 10;
}


header .logo h3{
  font-size: 51px;
  margin-left: 0px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;

  height: 100px;
  z-index: 10;

}

footer .logo h3{
  font-size: 7px;
  margin-left: 0px;
  color: white;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

nav ul li a:hover {
  color: greenyellow;
}
